{% extends 'general_website/layout/base.html' %}
{% load i18n %}
{% load static %}


{% block content %}

<h1>Work in Progress</h1>
<p>Missing in general:</p>
<ul>
    <li>a replacement for "talent targets scaling", see <a
            href="https://bloodmallet.com/chart/shaman/elemental/talent_target_scaling/castingpatchwerk">elemental
            shaman</a></li>
    <li>importing data</li>
    <li>determining chart type based on loaded data</li>
    <li>generating the appropriate chart</li>
    <li>wowhead alternative tooltips</li>
</ul>

<p>TODOs radar charts:</p>
<ul>
    <li>data (profile) selection</li>
    <li>enlargen central diagram</li>
    <li>maxima tooltips should include ratio</li>
</ul>

<!-- <div id="radar_chart"></div> -->
<br />
<hr />
<p>TODOs bar charts:</p>
<ul>
    <li>augmentation evoker baseline dps switch</li>
    <li>bar-color review (gray is bad)</li>
    <li>legend on top</li>
    <li>long name abbreviations</li>
</ul>
<!-- <div id="chart_target" data-filter-trinket-itemlevels="" data-filter-trinket-sources=""
    data-filter-trinket-active-passive="" data-show-top="-1"></div> -->

<div style="height: 40vh;"></div>

<p>chart id</p>
<div class="bloodmallet_chart" data-chart-id="???">Loading...</div>

<p>minimal ele</p>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental">Loading...</div>

<p>maximum ele</p>
<div class="bloodmallet_chart" data-wow-class="shaman" data-wow-spec="elemental" data-type="trinkets"
    data-fight-style="castingpatchwerk" data-talent-target-scaling-min-target-count="1"
    data-talent-target-scaling-max-target-count="15" data-show-top="7" data-value-calculation="absolute"
    data-language="en_US" data-filter-trinket-itemlevels="" data-filter-trinket-sources=""
    data-filter-trinket-active-passive="">Loading...
</div>
<!-- data-tooltip-engine="wowhead" -->

{% endblock %}

{% block extraimport %}
{% include 'general_website/layout/wowhead_tooltips.html' %}
<!-- <link rel="stylesheet" href="{% static 'general_website/css/bm-tooltips.css' %}" />
<script src="{% static 'general_website/js/bm-tooltips.js' %}"></script> -->

<link rel="stylesheet" href="{% static 'general_website/css/wowhead-tooltip-overrides.css' %}" />

<script src="{% static 'general_website/js/bm-charts.js' %}"></script>

<script>
    bm_import_charts();
</script>

{% endblock %}
